.G6s80Hk4{display:flex;flex-direction:column}.TxdTnPBN{margin-bottom:20px;width:50%;align-self:flex-end}
.yQPHpGhZ{display:flex;flex-direction:column}.tE4GGHPf{margin:10px;min-width:120px;max-width:300px}.NHYYKk2F{display:flex;flex-wrap:wrap}.zmWbOHOc{margin:5px;width:auto}
