:root {
    --bg-color: rgb(255, 255, 255);
    --bg-secondary-color: rgba(192, 211, 251, 0.5);
    --link-color: rgb(59, 80, 150);
    --primary-color: rgb(122, 119, 119);
    --secondary-color: rgba(0, 0, 0, 0.48);
    --btn-color: rgba(85, 88, 250, 1);
    --error-color: rgb(239, 60, 60);
}
